<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ipsum ut quam malesuada egestas convallis at magna. Mauris malesuada interdum leo quis rutrum. Phasellus sapien ante, ultrices non laoreet at, pulvinar dictum diam. Nullam finibus aliquam pulvinar. Mauris aliquet et magna id vulputate. Etiam iaculis vel velit vitae rhoncus. Donec pulvinar bibendum ipsum, in ultricies ligula interdum sit amet.

Sed fermentum viverra pellentesque. Pellentesque luctus ipsum vitae est varius, et rhoncus eros laoreet. Praesent tincidunt sodales justo, vitae rutrum orci venenatis non. Quisque tristique turpis imperdiet augue tincidunt, ut congue orci cursus. Aenean lorem augue, aliquam vitae finibus ac, viverra nec erat. Morbi et arcu dolor. Quisque dapibus sem et lacus tincidunt, non auctor eros iaculis. Aliquam vitae justo mattis, maximus eros condimentum, mollis ex. Integer in maximus lectus. Aenean suscipit auctor viverra. Etiam nisl mauris, blandit sit amet pretium eu, molestie a lectus. Mauris eu viverra justo. In molestie accumsan dui nec suscipit. Morbi maximus viverra augue, eget dignissim sem. Sed leo urna, fringilla eu quam sit amet, viverra viverra nulla.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque nec viverra diam, sed aliquam leo. Vestibulum eget rutrum ipsum. Nunc efficitur euismod dolor, in tincidunt urna mattis vitae. Maecenas tristique mattis sodales. Pellentesque ut urna erat. Curabitur risus magna, euismod in varius in, tempus at enim. Vestibulum magna arcu, condimentum quis massa sed, tincidunt tincidunt ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris euismod turpis non tellus efficitur, a dignissim justo ullamcorper. Aenean laoreet quam nunc, non luctus risus malesuada sit amet. Aenean sed consequat urna. Sed mi augue, pretium at dapibus sed, imperdiet et nunc. Vivamus a consequat libero, in malesuada libero. Proin ligula nunc, scelerisque nec sapien dictum, elementum commodo lorem. Phasellus ac sapien hendrerit, pulvinar tellus sit amet, iaculis odio.

Sed sollicitudin sed justo a feugiat. Curabitur ultricies nisl urna, eget vulputate eros gravida eget. Suspendisse vitae hendrerit tortor. Morbi eleifend interdum congue. Suspendisse accumsan posuere purus, nec elementum sapien dictum eget. Nulla ut dui laoreet, finibus enim sagittis, ornare diam. Phasellus vitae pellentesque ipsum. Praesent eu purus vitae ligula venenatis sollicitudin.

Integer in erat quis metus egestas tempor. Integer interdum est sit amet ipsum suscipit, quis condimentum diam semper. Etiam vitae scelerisque ligula, ut scelerisque risus. Nullam vestibulum in tellus at imperdiet. Aliquam venenatis urna ac vehicula interdum. Vivamus placerat orci enim. Phasellus volutpat euismod efficitur. Sed fringilla posuere dui ac iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce iaculis, felis et bibendum rutrum, mauris ex consectetur diam, quis elementum nunc turpis in est. Vestibulum eu nisl suscipit, scelerisque nulla nec, elementum est. Suspendisse feugiat nisi vitae tortor pulvinar scelerisque. Fusce auctor accumsan nunc, non gravida ipsum hendrerit ut.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ipsum ut quam malesuada egestas convallis at magna. Mauris malesuada interdum leo quis rutrum. Phasellus sapien ante, ultrices non laoreet at, pulvinar dictum diam. Nullam finibus aliquam pulvinar. Mauris aliquet et magna id vulputate. Etiam iaculis vel velit vitae rhoncus. Donec pulvinar bibendum ipsum, in ultricies ligula interdum sit amet.

Sed fermentum viverra pellentesque. Pellentesque luctus ipsum vitae est varius, et rhoncus eros laoreet. Praesent tincidunt sodales justo, vitae rutrum orci venenatis non. Quisque tristique turpis imperdiet augue tincidunt, ut congue orci cursus. Aenean lorem augue, aliquam vitae finibus ac, viverra nec erat. Morbi et arcu dolor. Quisque dapibus sem et lacus tincidunt, non auctor eros iaculis. Aliquam vitae justo mattis, maximus eros condimentum, mollis ex. Integer in maximus lectus. Aenean suscipit auctor viverra. Etiam nisl mauris, blandit sit amet pretium eu, molestie a lectus. Mauris eu viverra justo. In molestie accumsan dui nec suscipit. Morbi maximus viverra augue, eget dignissim sem. Sed leo urna, fringilla eu quam sit amet, viverra viverra nulla.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque nec viverra diam, sed aliquam leo. Vestibulum eget rutrum ipsum. Nunc efficitur euismod dolor, in tincidunt urna mattis vitae. Maecenas tristique mattis sodales. Pellentesque ut urna erat. Curabitur risus magna, euismod in varius in, tempus at enim. Vestibulum magna arcu, condimentum quis massa sed, tincidunt tincidunt ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris euismod turpis non tellus efficitur, a dignissim justo ullamcorper. Aenean laoreet quam nunc, non luctus risus malesuada sit amet. Aenean sed consequat urna. Sed mi augue, pretium at dapibus sed, imperdiet et nunc. Vivamus a consequat libero, in malesuada libero. Proin ligula nunc, scelerisque nec sapien dictum, elementum commodo lorem. Phasellus ac sapien hendrerit, pulvinar tellus sit amet, iaculis odio.

Sed sollicitudin sed justo a feugiat. Curabitur ultricies nisl urna, eget vulputate eros gravida eget. Suspendisse vitae hendrerit tortor. Morbi eleifend interdum congue. Suspendisse accumsan posuere purus, nec elementum sapien dictum eget. Nulla ut dui laoreet, finibus enim sagittis, ornare diam. Phasellus vitae pellentesque ipsum. Praesent eu purus vitae ligula venenatis sollicitudin.

Integer in erat quis metus egestas tempor. Integer interdum est sit amet ipsum suscipit, quis condimentum diam semper. Etiam vitae scelerisque ligula, ut scelerisque risus. Nullam vestibulum in tellus at imperdiet. Aliquam venenatis urna ac vehicula interdum. Vivamus placerat orci enim. Phasellus volutpat euismod efficitur. Sed fringilla posuere dui ac iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce iaculis, felis et bibendum rutrum, mauris ex consectetur diam, quis elementum nunc turpis in est. Vestibulum eu nisl suscipit, scelerisque nulla nec, elementum est. Suspendisse feugiat nisi vitae tortor pulvinar scelerisque. Fusce auctor accumsan nunc, non gravida ipsum hendrerit ut.

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
