.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}
